{
  "extends": ["@atlassian/atlassian-fecq",
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "plugins": ["prettier"],
  "rules": {
    // prettier
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5",
      "tabWidth": 4,
      "printWidth": 100
    }],

    // the prettier plugin _should_ disable these but it doesn't for some reason
    "indent": 0,
    "no-unexpected-multiline": 0
  }
}