## Default parameters for cloning a stack
# Enter defaults for desired parameters
# Rename to '<stackname>.clone-defaults.properties'
# Place inside the relevant stack folder in stacks/
# When cloning a stack of this name, these defaults will be applied
[defaults]
ClusterNodeMin: 1
ClusterNodeMax: 1
DeployEnvironment: stg
DBMultiAZ: false