# Regions in format 'aws_region: region_name'
# Names are for reference only, so can be AWS region names or Staging/Production etc
# Enter default region first"
# As s3 bucket names must be unique, we suggest appending your account-id to the atl-cfn-forge bucket prefix
[regions]
us-east-1: N.Virginia
us-west-2: Oregon

[dr]
dr-region: "us-east-1"

[analytics]
enabled: true

[s3]
bucket: atl-cfn-forge-<aws_account_number>
