[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
"boto3" = "*"
"cloudtoken-plugin.centrify" = "*"
"ruamel.yaml" = "==0.15.53"
awscli = "*"
behave = "*"
cloudtoken = "*"
Flask = "*"
Flask-HTTPAuth = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
Flask-SAML = "*"
Flask-Sessionstore = "*"
Flask-SQLAlchemy = "*"
GitPython = "*"
gunicorn = "*"
migrate = "*"
moto = "*"
python-dotenv = "*"
requests = "*"
requests-toolbelt = "*"
retry = "*"
sh = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
