behave
boto3
flask
flask_restful
flask_saml
flask_sessionstore
flask_sqlalchemy
gevent
gitpython
gunicorn
moto
psutil
pytest
python-dotenv
requests
requests-toolbelt
retry
ruamel.yaml
tenacity
werkzeug==0.15.2

