{% extends "page-content.html" %}
{% block head %}
{{ super() }}
    <meta name="stackToAdmin" value={{ stackToAdmin }}>
    <script src="{{ get_filename_with_last_update_time('static/js/admin.js') }}"></script>
{% endblock head %}
    {% block descriptionPanel %}
    Allows running of various administrative actions
    {% endblock descriptionPanel %}
{% block extraInput %}
<div class="aui-panel">
    <h3>Updates</h3>
    <p>Allows you to pull changes from upstream git repositories for CloudFormation templates or Forge itself.</p>
    <div class="aui-panel">
        <a id="templateRepoSelector" href="#templateRepoDropdownDiv" aria-owns="templateRepoDropdownDiv" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            Select Repository
        </a>

        <!-- Dropdown -->
        <div id="templateRepoDropdownDiv" class="aui-style-default aui-dropdown2"></div>
    </div>
    <div class="aui-panel">
            <button id="updateTemplatesBtn" type="submit" class="aui-button aui-button-primary" aria-disabled="true" disabled="true">
                <span class="aui-icon aui-icon-small aui-iconfont-clone-small" style="padding-right: 5px"></span>Update</button>
            </button>
        </div>
</div>

<h4 class="component-heading">Stack locking</h4>
<p>Locking stacks prevents multiple actions from being performed on a stack at the same time</p>
<form class="aui">
    <fieldset class="group">
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="lockStacksCheckBox" id="lockStacksCheckBox" onclick="setStackLocking()">
            <label for="lockStacksCheckBox">Enable stack locking</label>
        </div>
    </fieldset>
</form>

<h5 class="component-heading">Currently locked stacks (multi region)</h5>
<div class="aui-panel">
    <a id="lockedStackSelector" href="#lockedStacksDropdownDiv" aria-owns="lockedStacksDropdownDiv" aria-haspopup="true"
       class="aui-button aui-style-default aui-dropdown2-trigger">
        Select Stack
    </a>

    <!-- Dropdown -->
    <div id="lockedStacksDropdownDiv" class="aui-style-default aui-dropdown2"></div>
</div>
<div class="aui-panel">
        <p id="lock-state" hidden>Action in progress: </p>
</div>
<div class="aui-panel" id="unlock-warning" hidden>
    <div class="aui-message aui-message-warning">
        <p>Only unlock if you are certain the stack is locked in error. Performing multiple actions against a stack can result in corruption.</p>
    </div>
</div>

{% endblock extraInput %}

{% block templateRepoStatusPanel %}
{#    Template Repo Status Panel    #}
<div class="aui-item">
    <section class="aui-page-notification aui-page-size-medium aui-page-panel aui-page-panel-content"  style="text-align: left">
        <h3 id="templateRepoName"></h3>
        <div id="templateRepoInformation">
            <p id="currentBranch">Current Branch: </p>
            <p id="commitsDifference">Commit Difference to Origin: </p>
            <p id="gitUpdateMessage"></p>
        </div>
    </section>
</div>
{% endblock templateRepoStatusPanel %}

{% block buttonText %}Unlock{% endblock buttonText %}
