{% extends "page-content.html" %}
{% block modalTitle %}Jira Authentication{% endblock modalTitle %}
{% block modalContents %}
<p>This action requires admin authentication to the Jira server.<br><br>
    NB: We do NOT recommend entering your credentials unless both Forge and the Jira server use SSL.<br><br>
    Please enter your Jira administrator username and password:</p>
<form class="aui top-label">
    <fieldset class="top-label">
        <div class="field-group">
            <label for="username">Username</label>
            <input class="text" type="text" id="username" name="username">
            <label for="username">Password</label>
            <input class="password" type="password" id="password" name="password">
        </div>
    </fieldset>
</form>
{% endblock modalContents %}