{% extends "template-params.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ get_filename_with_last_update_time('static/js/clone.js') }}"></script>
{% endblock head %}
    {% block descriptionPanel %}
    Create a clone of an instance from database and filesystem snapshots. This will first destroy the stack if one exists by the name entered for the clone, then create a new stack from the selected snapshots. If there is a SQL file to run against clones of the instance being cloned, or a SQL file for stacks of this name, they will be run once the service is up, and a restart will be performed. See Run SQL for more information.
    {% endblock descriptionPanel %}

{% block stackSelectorDescription %}
Select stack to clone
{% endblock stackSelectorDescription %}

{% block stackStatusPanel %}
{% endblock stackStatusPanel %}

{% block extraActionsDropdownItems %}
<aui-item-link id="getCloneDefaults-button" disabled>Get clone defaults</aui-item-link>
{{ super() }}
{% endblock extraActionsDropdownItems %}

{% block extraParams %}
<div id="clone-params" hidden>
    <div class="field-group param-field-group" id="stack-name-input">
        <label for="StackNameVal" class="paramLbl">StackName</label>
        <input class="text" type="text" name="StackNameVal" id="StackNameVal" data-aui-validation-field required pattern="[a-zA-Z][-a-zA-Z0-9]*" data-aui-validation-pattern-msg="Stack name must satisfy regular expression pattern: [a-zA-Z][-a-zA-Z0-9]*"/>
    </div>
    <div class="field-group param-field-group">
        <label for="regionSelector" class="paramLbl">Region</label>
        <aui-select id="regionSelector" name="regionSelector">
            {% for region in session['regions'] %}
            <aui-option class="selectRegionOption" {% if loop.first == true %}selected{% endif %}>{{ region[0] }}</aui-option>
            {% endfor %}
        </aui-select>
    </div>
    <!-- Snapshot selectors -->
    {#  EBS snapshot selector  #}
    <div id="EBSSnapshotIdDiv" class="field-group param-field-group">
        <label for="EBSSnapshotIdVal" class="paramLbl">EBSSnapshotId</label>
        <aui-select id="EBSSnapshotIdVal" name="EBSSnapshotIdVal" placeholder="Loading..." />
    </div>
    {#  RDS snapshot selector  #}
    <div id="DBSnapshotNameDiv" class="field-group param-field-group">
        <label for="DBSnapshotNameVal" class="paramLbl">DBSnapshotName</label>
        <aui-select id="DBSnapshotNameVal" name="DBSnapshotNameVal" placeholder="Loading..." />
    </div>
</div>
{% endblock extraParams %}

{% block buttonText %}Clone{% endblock buttonText %}
