{% extends "layout.html" %}

{% block content %}
    {#  Upgrade options  #}
    <div class="aui-group aui-group-split">
    {% block input %}

    <div class="aui-item">
        <div id="descriptionPanel" class="aui-item">
            <p>
                {% block descriptionPanel %}
                {% endblock descriptionPanel %}
            </p>
        </div>

        {% block stackSelector %}
        {#  Stack selector  #}
        <a id="stackSelector" href="#stackSelection" aria-owns="stackSelection" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            {% block stackSelectorDescription %}
            Select Stack
            {% endblock stackSelectorDescription %}
        </a>

        <!-- Dropdown -->
        <div id="stackSelection" class="aui-style-default aui-dropdown2">
            <ul class="aui-list-truncate">
                {% for stack in session['stacks'] %}
                <li><a class="selectStackOption">{{ stack }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endblock stackSelector %}

        {% block extraInput %}
            {% block productSelector %}
            {% endblock productSelector %}
            {% block templateSelector %}
            {% endblock templateSelector %}
            {% block nodeSelector %}
            {% endblock nodeSelector %}
            {% block extraActionsDropdown %}
            {% endblock extraActionsDropdown %}
        {% endblock extraInput %}

        {% block Parameters %}
        {% endblock Parameters %}

        {% block button %}
        {#  Button to perform page action  #}
        <div class="aui-panel">
            <button id="action-button" type="submit" class="aui-button aui-button-primary" aria-disabled="true">
                {% block buttonText %}Ok{% endblock buttonText %}
            </button>
        </div>
        {% endblock button %}
    </div>
    {% endblock input %}

    {% block stackStatusPanel %}
    {#    Current Status Panel    #}
    <div class="aui-item" id="stackPanel">
        <section class="aui-page-notification aui-page-size-medium aui-page-panel aui-page-panel-content"  style="text-align: left">
            <h3 id="stackName"></h3>
            <div id="pleaseSelectStackMsg" class="aui-page-notification-description">
                <p>Please select a stack to see it's current information</p>
            </div>
            <div id="stackInformation">
                <p id="stackState">Stack state: </p>
                <p id="serviceStatus">Service status: </p>
                <p id="currentAction">Action in progress: </p>
                <p id="currentVersion">Current version: </p>
                <h5 id="nodesHeader">Nodes: <span id="nodesCount"></span></h5>
                <p id="nodes"></p>
            </div>
        </section>
    </div>
    {% endblock stackStatusPanel %}

    {% block templateRepoStatusPanel %}
    {% endblock templateRepoStatusPanel %}


</div>

<!-- Modal prompt -->
<section id="modal-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" data-aui-modal="true" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main" id="modal-title">
            {% block modalTitle %}
            {% endblock modalTitle %}
        </h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="modal-contents">
        {% block modalContents %}
        {% endblock modalContents %}
    </div>
    <footer class="aui-dialog2-footer">
        {% block modalFooterContents %}
        {% endblock modalFooterContents %}
    </footer>
</section>
{% block progress %}
{% endblock progress %}
{% endblock content%}
