{% extends "restart.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ get_filename_with_last_update_time('static/js/restartnode.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock head %}


{% block extraInput %}
{% block nodeSelector %}
    <a id="nodeSelector" href="#nodeSelection" aria-owns="nodeSelection" aria-haspopup="true"
       class="aui-button aui-style-default aui-dropdown2-trigger">
        Select Node
    </a>
    <!-- Nodes dropdown -->
    <div id="nodeSelection" class="aui-style-default aui-dropdown2">
        <ul class="aui-list-truncate" id="nodesList"></ul>
    </div>
{% endblock nodeSelector %}
<div id="cpuChartDiv"></div>
<form class="aui">
    <fieldset class="group">
        <legend><span>Diagnostics</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeThreadDumps" id="takeThreadDumps" disabled>
            <label for="takeThreadDumps">Take thread dumps</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="takeHeapDumps" id="takeHeapDumps" disabled>
            <label for="takeHeapDumps">Take heap dumps</label>
        </div>
    </fieldset>
</form>
{% endblock extraInput %}

{% block descriptionPanel %}
    Restart a single node in the cluster
{% endblock descriptionPanel %}

{% block buttonText %}Restart node{% endblock buttonText %}