{% extends "page-content.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ get_filename_with_last_update_time('rebuild.js') }}"></script>
{% endblock head %}
    {% block descriptionPanel %}
    Destroy and rebuild all nodes in the cluster, one at a time.
    <br />
    <div id="rebuildSingleNodeWarning" class="aui-message aui-message-error">
        <p class="title">
            <strong>Warning!</strong>
        </p>
        <p>This action will result in downtime for stacks containing a single node.</p>
    </div>
    {% endblock descriptionPanel %}
{% block buttonText %}Rolling Rebuild{% endblock buttonText %}
