{% extends "page-content.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ get_filename_with_last_update_time('tag.js') }}"></script>
{% endblock head %}
    {% block descriptionPanel %}
    Add tags to the stack, and all its resources
    {% endblock descriptionPanel %}
{% block extraInput %}
<form class="aui" id="tags" hidden>
    <div id="existing-tags">
        <h3>Existing tags</h3>
    </div>
    <h3>New tags</h3>
    <div class="field-group tag-field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group tag-field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group tag-field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group tag-field-groupp">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
    <div class="field-group tag-field-group">
        <input class="text" type="text" placeholder="Key" name="key">
        <input class="text" type="text" placeholder="Value" name="value">
    </div>
</form>
{% endblock extraInput %}

{% block buttonText %}Update Tags{% endblock buttonText %}