{% extends "index.html" %}
{% if code == "403" %}
    {%set class = 'aui-message aui-message-error'%}
    {%set heading = 'Forbidden!'%}
    {%set message = 'You do not have the access to perform this action.'%}
{% else %}
    {%set class = 'aui-message aui-message-warning'%}
    {%set heading = 'Unknown Error'%}
    {%set message = 'An unknown error has occurred, please contact IT Operations.'%}
{% endif %}
{% block content %}
    <div class="{{ class }}">
    <p>
        <strong>{{ heading }}</strong>
    </p>
    <p>{{ message }}</p>
</div>
{% endblock content %}