{% extends "page-content.html" %}
{% block head %}
    <script src="/static/js/clone.js"></script>
{% endblock head %}

{% block stackSelectorDescription %}
Stack to clone:
{% endblock stackSelectorDescription %}

{% block stackStatusPanel %}
{% endblock stackStatusPanel %}

{% block extraInput %}
<form class="aui long-label" id="paramsForm">
    <field-set>
        <div class="field-group">
            <label for="stackNameVal">StackName</label>
            <input class="text" type="text" name="stacknameVal">
        </div>
        {% for param in templateParams['Parameters'] %}
        <div class="field-group">
            <label for="{{ param }}Val">{{ param }}</label>
            <input class="text" type="text" name="{{ param }}Val">
        </div>
        {% endfor %}
    </field-set>
</form>
{% endblock extraInput %}

{% block buttonText %}Clone{% endblock buttonText %}