{% extends "template-params.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/js/clone.js"></script>
{% endblock head %}

{% block stackSelectorDescription %}
Select stack to clone
{% endblock stackSelectorDescription %}

{% block stackStatusPanel %}
{% endblock stackStatusPanel %}

{% block extraParams %}
<div class="field-group">
    <label for="StackNameVal">StackName</label>
    <input class="text" type="text" name="StackNameVal" id="StackNameVal" data-aui-validation-field required>
</div>
<div class="field-group">
    <label for="regionSelector">Region</label>
    <a id="regionSelector" href="#regionSelection" aria-owns="regionSelection" aria-haspopup="true"
       class="aui-button aui-style-default aui-dropdown2-trigger">
        us-east-1
    </a>
    <!-- Dropdown -->
    <div id="regionSelection" class="aui-style-default aui-dropdown2">
        <ul class="aui-list-truncate" id="region">
            <li><a class="selectRegionOption">us-east-1</a></li>
            <li><a class="selectRegionOption">us-west-2</a></li>
        </ul>
    </div>
</div>
<!-- Snapshot selectors -->
{#  EBS snapshot selector  #}
<div class="field-group">
    <label for="ebsSnapshotSelector">EBSSnapshotId</label>
    <a id="ebsSnapshotSelector" href="#ebsSnapshotSelection" aria-owns="ebsSnapshotSelection" aria-haspopup="true"
       class="aui-button aui-style-default aui-dropdown2-trigger">
        Select EBS snapshot
    </a>
    <!-- Dropdown -->
    <div id="ebsSnapshotSelection" class="aui-style-default aui-dropdown2">
        <ul class="aui-list-truncate" id="ebsSnapshots">
        </ul>
    </div>
</div>
{#  RDS snapshot selector  #}
<div class="field-group">
    <label for="rdsSnapshotSelector">DBSnapshotName</label>
    <a id="rdsSnapshotSelector" href="#rdsSnapshotSelection" aria-owns="rdsSnapshotSelection" aria-haspopup="true"
       class="aui-button aui-style-default aui-dropdown2-trigger">
        Select RDS snapshot
    </a>
    <!-- Dropdown -->
    <div id="rdsSnapshotSelection" class="aui-style-default aui-dropdown2">
        <ul class="aui-list-truncate" id="rdsSnapshots">
        </ul>
    </div>
</div>
{% endblock extraParams %}

{% block buttonText %}Clone{% endblock buttonText %}