{% extends "template-params.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/js/create.js"></script>
{% endblock head %}

{% block stackSelector %}
{% endblock stackSelector %}

{% block stackStatusPanel %}
{% endblock stackStatusPanel %}

{% block extraInput %}
    {% block productSelector %}
    <div class="aui-panel">
        <a id="productSelector" href="#productSelection" aria-owns="productSelection" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            Select Product
        </a>

        <!-- Product dropdown -->
        <div id="productSelection" class="aui-style-default aui-dropdown2">
            <ul class="aui-list-truncate">
                {% for product in session['products'] %}
                <li><a class="selectProductOption">{{ product }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endblock productSelector %}
    {% block templateSelector %}
    <div class="aui-panel">
        <a id="templateSelector" href="#templateSelection" aria-owns="templateSelection" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            Select Template
        </a>

        <!-- Template dropdown -->
        <div id="templateSelection" class="aui-style-default aui-dropdown2">
            <ul class="aui-list-truncate" id="templates"></ul>
        </div>
    </div>
    {% endblock templateSelector %}
{% endblock extraInput %}

{% block extraParams %}
<div class="field-group">
    <label for="StackNameVal">StackName</label>
    <input class="text" type="text" name="StackNameVal" id="StackNameVal" data-aui-validation-field required>
</div>
{% endblock extraParams %}

{% block buttonText %}Create{% endblock buttonText %}