{% extends "page-content.html" %}
{% block head %}
{{ super() }}
    <script src="/static/js/diagnostics.js"></script>
{% endblock head %}

{% block extraInput %}
<div style="min-height: 50px"></div>
<div class="aui-panel">
    <h3>Thread dumps</h3>
    <p><button class="aui-button" id="threadDumpBtn" aria-disabled="true" onclick="threadDumps()" disabled><span class="aui-icon aui-icon-small aui-iconfont-location"></span> Take thread dumps</button></p>
    <p><button class="aui-button" id="dlThreadDumpBtn" aria-disabled="true" onclick="dlThreadDumps()" disabled><span class="aui-icon aui-icon-small aui-iconfont-download"></span> Download thread dumps</button></p>
</div>
<div class="aui-panel">
    <h3>Heap dumps</h3>
    <p><button class="aui-button" id="heapDumpBtn"  aria-disabled="true" onclick="heapDumps()" disabled><span class="aui-icon aui-icon-small aui-iconfont-clone-small"></span> Take heap dumps</button></p>
</div>

<section id="threaddump-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Download thread dumps</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content" id="threaddump-dialog-content">
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
        </div>
    </footer>
</section>
{% endblock extraInput %}

{% block button %}
{% endblock button %}