{% block forgeselection %}
    <p>
        <div class="actionType">
            <form id="actionForm" class="frame" action="{{ url_for('settype') }}" method="post">
              <input type="radio" class="ak-button ak-button__appearance-primary" name="forgetype" value="upgrade" checked> Upgrade
              <input type="radio" class="ak-button ak-button__appearance-primary" name="forgetype" value="clone"> Clone
              <input type="radio" class="ak-button ak-button__appearance-primary" name="forgetype" value="restart"> Restart
              <input type="submit" class="ak-button ak-button__appearance-primary" value="Next">
            </form>
        </div>
    </p>
{% endblock %}