<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atlassian Cloudformation Forge</title>
        <link rel="stylesheet" href="static/css/index.css">

        {#    AUI    #}
        <link rel="stylesheet" href="static/aui/css/aui.min.css" media="all">
        <link rel="stylesheet" href="static/aui/css/aui-experimental.min.css" media="all">

        <script src="static/jquery-3.3.1.min.js"></script>
        <script src="static/aui/js/aui.js"></script>
        <script src="static/aui/js/aui-experimental.min.js"></script>
        <script src="static/aui/js/aui-soy.min.js"></script>
        <script src="/static/js/index.js"></script>
    </head>
    <body>
            <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
                <div class="aui-header-inner aui-header-primary">
                    <h1 id="logo" class="aui-header-logo aui-header-logo-textonly">
                        <a href="/">
                            <span class="aui-header-logo-device">ACFORGE</span>
                        </a>
                    </h1>
                    <ul class="aui-nav">
                        {% block hnavitems %}
                        <li>
                            <a {%if session['env'] == "stg" %}class="env-selected"{%endif%}
                               href="setenv/stg" id="staging-link">
                                Staging
                            </a>
                        </li>
                        <li>
                            <a {%if session['env'] == "prod" %}class="env-selected"{%endif%}
                               href="setenv/prod"  id="production-link">
                                Production
                                <span class="aui-lozenge aui-lozenge-current">Are You Sure?</span>
                            </a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
            </nav>

            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <div class="aui-page-panel-nav">
                        <nav class="aui-navgroup aui-navgroup-vertical">
                            <div class="aui-navgroup-inner">
                                <div class="aui-nav-heading">
                                    <strong>Action Type</strong>
                                </div>
                                <ul class="aui-nav">
                                    {% block vnavitems %}
                                    <li {% if session['action'] == 'upgrade' %} class="aui-nav-selected" {% endif %} >
                                        <a href="setaction/upgrade" aria-owns="aui-menu-upgrade" id="upgrade-link">Upgrade</a>
                                    </li>
                                    <li {% if session['action'] == 'fullrestart' %} class="aui-nav-selected" {% endif %} >
                                        <a href="setaction/fullrestart" aria-owns="aui-menu-fullrestart" id="fullrestart-link">Full Restart</a>
                                    </li>
                                    <li {% if session['action'] == 'rollingrestart' %} class="aui-nav-selected" {% endif %} >
                                        <a href="setaction/rollingrestart" aria-owns="aui-menu-rollingrestart" id="rollingrestart-link">Rolling Restart</a>
                                    </li>
                                    {% if session['env'] == "prod" %}
                                        <li {% if session['action'] == 'backup' %} class="aui-nav-selected" {% endif %} >
                                            <a href="setaction/backup" aria-owns="aui-menu-backup" id="backup-link">Trigger Backup Manually</a>
                                        </li>
                                    {% endif %}
                                    {% if session['env'] == "stg" %}
                                        <li {% if session['action'] == 'clone' %} class="aui-nav-selected" {% endif %} >
                                            <a href="setaction/clone" aria-owns="aui-menu-clone" id="clone-link">Clone from Prod</a>
                                        </li>
                                        <li {% if session['action'] == 'destroy' %} class="aui-nav-selected" {% endif %} >
                                            <a href="setaction/destroy" aria-owns="aui-menu-destroy" id="destroy-link">Destroy</a>
                                        </li>
                                    {% endif %}
                                    {% endblock %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <section class="aui-page-panel-content">
                        <h2 class="component-heading">Atlassian Cloudformation Forge</h2>
                        {% block content %}
                        {% endblock %}
                    </section>
                </div>
            </div>
            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <ul id="aui-footer-list">
                        <li>Copyright &#169; 2009-<script>document.write(new Date().getUTCFullYear());</script> Atlassian</li>
                        <li><a href="https://bitbucket.org/atlassian/aui/src/7.4.0/LICENSE">License</a></li>
                        <li><a href="https://bitbucket.org/atlassian/aui/src/7.4.0/changelog.md">Changelog</a></li>
                        <li>7.4.0</li>
                    </ul>
                    <div id="footer-logo"><a href="https://www.atlassian.com/">Atlassian</a></div>
                </section>
            </footer>
        </div>
    </body>
</html>