<!doctype html>
<html lang="en">
    <head>
        <title>Atlassian Cloudformation Forge</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class=page>

            <h1>Atlassian Cloudformation Forge</h1>
            <p><br></p>
            {% block forgeselection %}{% endblock %}
            <p><br></p>
            {% block forgetype %}{% endblock %}
            <p><br></p>
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}

        </div>
    </body>
</html>