{% extends "upgrade.html" %}

{% block upgradeOptions %}
        <form id="upgradeVersion" class="aui" action="/go/{{ session['action'] }}Progress" method="post">
        <fieldset class="group">
            <legend><span>Specify Upgrade Version</span></legend>
            <div class="field-group">
{#                <label for="text-input-input">Upgrade version<span class="aui-icon icon-required">required</span></label>#}
                <input class="text" type="text" id="text-input" name="text-input" title="Text input">
                <div class="description">The software version you are upgrading to</div>
            </div>
            <p><br></p>
            <input type="submit" class="aui-button aui-button-primary" value="Next">
        </fieldset>
    </form>

{% endblock %}