{% extends "layout.html" %}

{% block content %}
{#        <form id="stackName" class="aui" action="/blah/{{ session['action'] }}Progress" method="post">#}
                <!-- Trigger -->
    <div class="aui-panel">
        <a id="stackSelector" href="#stackSelection" aria-owns="stackSelection" aria-haspopup="true"
           class="aui-button aui-style-default aui-dropdown2-trigger">
            Select Stack
        </a>

        <!-- Dropdown -->
        <div id="stackSelection" class="aui-style-default aui-dropdown2">
            <ul class="aui-list-truncate">
                {% for stack in stacks %}
                    <li><a class="selectStackOption" href="#">{{ stack }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="aui-panel">
        <a id="upgradeVersionSelector" href="#versionSelection" aria-owns="versionSelection"
           aria-haspopup="true" class="aui-button aui-style-default aui-dropdown2-trigger"
           aria-disabled="true"
        >
            Select Version
        </a>

        <!-- Dropdown -->
        <div id="versionSelection" class="aui-style-default aui-dropdown2">
            <ul class="aui-list-truncate">
                {% for version in versions %}
                    <li><a class="selectVersionOption" href="#">{{ version }}</a></li>
                {% endfor %}
                    <li><a class="selectVersionOption" href="#">6.9.0-m37</a></li>
            </ul>
        </div>
    </div>
    {% block  upgradeProgress %}
    {% endblock  %}
{% endblock %}